.container{
    border:3px solid black;
    width:28rem;
    height:30rem;
    margin: 0 auto;
    margin-top:7rem;
    flex:wrap
}
.signup{
    display: none;
    padding-left: 5rem;
    margin-top:8vh;
    flex:wrap;
}
.signin{
    padding-left:5rem;
    margin-top:10vh;
    flex:wrap;
}
.name1{
    flex:wrap;
    width:17rem;
    height: 1.5rem;
}
.mail{
    flex:wrap;
    width:17rem;
    height: 1.5rem;
    margin-top:3vh;
}
.pass{
    flex:wrap;
    width:17rem;
    height: 1.5rem;
    margin-top:3vh;
}
.conpass{
    flex:wrap;
    width:17rem;
    height: 1.5rem;
    margin-top:3vh;
}
.mobile{
    flex:wrap;
    width:17rem;
    height: 1.5rem;
    margin-top:3vh;
}
.submit{
    flex:wrap;
    width:10rem;
    height:2rem;
    margin-top:5vh;
    margin-left:4vw;
}
.signup1{
    flex:wrap;
    width:12rem;
    height:2.5rem;
    margin-top:5vh;
    margin-left:1.5vw;
}
.signin1{
    flex:wrap;
    width:12rem;
    height:2.5rem;
    margin-top:5vh;
    margin-left:1vw;
}
.mail2{
    flex:wrap;
    width:17rem;
    height: 1.5rem;
}
.pass2{
    flex:wrap;
    width:17rem;
    height: 1.5rem;
    margin-top:4vh;
}
.submit1{
    flex:wrap;
    width:10rem;
    height:2rem;
    margin-top:5vh;
    margin-left:4vw;
}
.navlist{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav{
    display:none;
}
.home-tab{
    margin-top: 20vh;
    margin-left: 30vw;
    font-size:5rem;
    font-weight: bold;
    font-family:sans-serif;
}
.medicine{
    display:none;
    margin-top:-14vh;
    font-family: sans-serif;
}
.table,th,td{
    border:2px solid black;
    border-collapse: collapse;
    min-width:12rem;
    height:2rem;
    text-align:center;
}
.deposit{
    display:none;
}
.purchase{
    display:none;
    margin-top:-14vh;
    font-family: sans-serif;
}
.table-body,td,th{
    border:2px solid black;
    border-collapse: collapse;
    min-width:10rem;
    height:2rem;
}
.quantity-block{
    display:none;
}
.cancel{
    display:none;
}
.table2,td,th{
    border:2px solid black;
    border-collapse: collapse;
}
.order{
    display:none;
}
.table3,td,th{
    border:2px solid black;
    border-collapse: collapse;
}
.edit{
    display:none;
}
.add{
    display:none;
}
